In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
from date.util.relativedelta import relativedelta

#### A date string

In [63]:
date_str='01/01/2016 01:00:00 PM'

### converting a date string to date object
#### Directive	Meaning	Example

- %a	Abbreviated weekday name.	Sun, Mon, ...
- %A	Full weekday name.	Sunday, Monday, ...
- %w	Weekday as a decimal number.	0, 1, ..., 6
- %d	Day of the month as a zero-padded decimal.	01, 02, ..., 31
- %-d	Day of the month as a decimal number.	1, 2, ..., 30
- %b	Abbreviated month name.	Jan, Feb, ..., Dec
- %B	Full month name.	January, February, ...
- %m	Month as a zero-padded decimal number.	01, 02, ..., 12
- %-m	Month as a decimal number.	1, 2, ..., 12
- %y	Year without century as a zero-padded decimal number.	00, 01, ..., 99
- %-y	Year without century as a decimal number.	0, 1, ..., 99
- %Y	Year with century as a decimal number.	2013, 2019 etc.
- %H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, ..., 23
- %-H	Hour (24-hour clock) as a decimal number.	0, 1, ..., 23
- %I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, ..., 12
- %-I	Hour (12-hour clock) as a decimal number.	1, 2, ... 12
- %p	Locale’s AM or PM.	AM, PM
- %M	Minute as a zero-padded decimal number.	00, 01, ..., 59
- %-M	Minute as a decimal number.	0, 1, ..., 59
- %S	Second as a zero-padded decimal number.	00, 01, ..., 59
- %-S	Second as a decimal number.	0, 1, ..., 59
- %f	Microsecond as a decimal number, zero-padded on the left.	000000 - 999999
- %z	UTC offset in the form +HHMM or -HHMM.	 
- %Z	Time zone name.	 
- %j	Day of the year as a zero-padded decimal number.	001, 002, ..., 366
- %-j	Day of the year as a decimal number.	1, 2, ..., 366
- %U	Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, ..., 53
- %W	Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, ..., 53
- %c	Locale’s appropriate date and time representation.	Mon Sep 30 07:06:05 2013
- %x	Locale’s appropriate date representation.	09/30/13
- %X	Locale’s appropriate time representation.	07:06:05
- %%	A literal '%' character.	%

In [32]:
date_obj=datetime.strptime(date_str,'%d/%m/%Y %I:%M:%S %p')

In [64]:
date_obj

datetime.datetime(2016, 1, 1, 13, 0)

In [65]:
type(date_str)

str

In [66]:
type(date_obj)

datetime.datetime

## a small example of your problem

**Step 1:Created a series for both columns**

In [87]:
d1=['01/01/2016 01:00:00 PM','01/01/2016 01:00:44 AM']
opnsr=pd.Series(d1)

In [88]:
opnsr

0    01/01/2016 01:00:00 PM
1    01/01/2016 01:00:44 AM
dtype: object

In [89]:
d2=['01/02/2016 12:00:00 PM','01/01/2016 01:13:11 AM']

In [90]:
clsdsr=pd.Series(d2)
clsdsr

0    01/02/2016 12:00:00 PM
1    01/01/2016 01:13:11 AM
dtype: object

**Step 2: Created a dataframe using two series conatining date strings**

In [91]:
df=pd.DataFrame(dict(Created_Date=opnsr,Closed_Date=clsdsr))

In [92]:
df

             Created_Date             Closed_Date
0  01/01/2016 01:00:00 PM  01/02/2016 12:00:00 PM
1  01/01/2016 01:00:44 AM  01/01/2016 01:13:11 AM

In [93]:
df.Created_Date

0    01/01/2016 01:00:00 PM
1    01/01/2016 01:00:44 AM
Name: Created_Date, dtype: object

**Step 3 Converting dataframe column to date**

In [94]:
df['Created_Date'] = pd.to_datetime(df['Created_Date'], format='%d/%m/%Y %I:%M:%S %p')

In [95]:
df['Closed_Date'] = pd.to_datetime(df['Closed_Date'], format='%d/%m/%Y %I:%M:%S %p')

In [96]:
df

         Created_Date         Closed_Date
0 2016-01-01 13:00:00 2016-02-01 12:00:00
1 2016-01-01 01:00:44 2016-01-01 01:13:11

**Step 4: Calculating diff between two columns**

In [97]:
df['Resolution_Time'] = df['Closed_Date'] -df['Created_Date']
df

         Created_Date         Closed_Date  Resolution_Time
0 2016-01-01 13:00:00 2016-02-01 12:00:00 30 days 23:00:00
1 2016-01-01 01:00:44 2016-01-01 01:13:11  0 days 00:12:27

**Optional-if you want in days use 'D' in np.timedelta64()**
- Put in 'W' if you want in difference in weeks
- Put in 'M' if you want in difference in months
- Put in 'Y' if you want in difference in years

In [98]:
df['Resolution_Time']=df['Resolution_Time']/np.timedelta64(1,'D')

In [99]:
df

         Created_Date         Closed_Date  Resolution_Time
0 2016-01-01 13:00:00 2016-02-01 12:00:00        30.958333
1 2016-01-01 01:00:44 2016-01-01 01:13:11         0.008646